<template>
  <div id="montecalro">
    <div class="console">
      <p>来客確率:</p>
      <input type="range" min="0" max="100" v-model='arrivalRate'>
      {{ arrivalRate }}
      <br>
      <p>検証回数:</p>
      <input type="number" min="0" max="100000" v-model='duration'>
      {{ duration }}
      <br>
      <button v-on:click="execute">実行</button>
      <br>
      {{ count }}
    </div>
    <div id="main">
      <div class="graphBoard">
        <svg height=200 width=500>
          <line class="middle" x1=0 y1=100 x2=500 y2=100 />
          <line :class=color(key) :key=key @mouseenter=setDetailByVariation(key) v-for="(value, key) in variation" :x1=3+5*key :y1=200-expected(value) :x2=3+5*key y2="200" />
        </svg>
      </div>

      <div class="graphBoard">
        <svg height=100 width=50>
          <line :class=customerColor(key) :key=key @mouseenter=setDetailByCustomer(key) v-for="(value, key) in customer" :x1=3+5*key :y1=100-customerExpected(key) :x2=3+5*key y2="100" />
        </svg>
      </div>
      <div class="detailBoard">
        {{ detailMessage }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Montecalro',
  data () {
    return {
      arrivalRate: 30,
      LengthOfService: 3,
      duration: 1000,
      count: 0,
      variation: {},
      customer: {},
      queue: 0,
      detailMessage: 'ここに詳細が出ます'
    }
  },
  methods: {
    sleep: function (sec) {
      return new Promise(resolve => setTimeout(resolve, sec))
    },
    montecalro: function () {
      var random = Math.random() * 100
      this.variation[Math.floor(random)]++
      if (random < parseInt(this.arrivalRate)) {
        this.count++
        this.queue++
      }

      if (parseInt(this.queue) > 0) {
        if (Math.random() * 10 < parseInt(this.queue)) {
          this.queue--
        }
      }
      this.customer[this.queue]++
    },

    execute: async function () {
      this.count = 0
      if (this.duration > 100000) this.duration = 100000
      for (var i = 0; i < 100; i++) {
        this.variation[i] = 0
      }

      for (i = 0; i < 10; i++) {
        this.customer[i] = 0
      }

      for (i = 0; i < this.duration; i++) {
        if (i % (this.duration / 100) === 0) {
          await this.sleep(1)
        }
        this.montecalro()
      }
    },

    setDetailByVariation: function (key) {
      this.detailMessage = key + 'は' + this.variation[key] + '回出ました'
    },

    setDetailByCustomer: function (key) {
      this.detailMessage = this.customer[key] + '秒間の間' + key + '人が並んでいました'
    },

    color: function (key) {
      if (parseInt(this.arrivalRate) > parseInt(key)) return 'in'
      return 'out'
    },

    expected: function (value) {
      var expection = this.duration / 100
      return value / expection * 100
    },

    customerColor: function (key) {
      if (parseInt(key) % 2 === 0) return 'customer-even'
      return 'customer-odd'
    },

    customerExpected: function (key) {
      var max = 0
      for (var i = 0; i < 10; i++) {
        if (parseInt(this.customer[i]) > max) max = parseInt(this.customer[i])
      }
      return parseInt(this.customer[key]) / max * 100
    }
  }

}
</script>
<style lang="scss" scoped>
p{
  display:inline;
}
.console {
  float:left;
  margin-right:auto;
}
#main{
  margin-left:auto;
  margin-right:auto;
}
.graphBoard{
  margin-top:10px;
  margin-left:auto;
  margin-right:auto;
  width:540px;
  height:200px;
}
.detailBoard {
  margin-top:10px;
  margin-left:auto;
  margin-right:auto;
  width:540px;
  height:20px;
}
svg{
  background-color:#ffffd0;
}
line{
  stroke-width:5;
}
.middle{stroke:lime}
.graph{stroke:red}
.in{stroke:red}
.out{stroke:black}
.customer-even{stroke:#00ee00}
.customer-odd{stroke:#00cc00}

</style>
